#include "GameEndDialog.h"

GAME_END_DIALOG DIALOGEX 0, 0, 300, 150
STYLE WS_CAPTION | WS_POPUP | WS_SYSMENU
FONT 14, "Arial", 0
BEGIN
    LTEXT "GAME OVER", 0, 10, 10, 280, 40, SS_CENTER | SS_CENTERIMAGE
    LTEXT "Score", DIALOG_SCORE_TEXT, 10, 60, 280, 30, SS_CENTER | SS_CENTERIMAGE
    PUSHBUTTON "Try again", RETRY_BUTTON_DIALOG, 100, 100, 100, 30, WS_TABSTOP | BS_CENTER | BS_VCENTER
END
